@media (max-width: 720px) {
  body {
    font-size: 10px;
  }
}

.navbar {
  font-family: "Montserrat", sans-serif;
}

.navbar .navbar-brand {
  font-weight: bold;
  letter-spacing: 0.15em;
}

.naav {
  border-radius: 1em;
  padding: 0.08em 1em;
  color: white;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.naav:hover {
  text-decoration: none;
  color: rgba(28, 151, 114, 0.75);
  background-color: white;
}

.display-3 {
  font-size: 5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: -3px;
  line-height: 0.95em;
}

#footer h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  padding: 0.25em 0em;
}

#footer i {
  font-size: 1.25em;
}

#footer p {
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  vertical-align: 0.05em;
}

#footer a {
  border: 0.1em white solid;
  color: white;
  border-radius: 1em;
  padding: 0.25em 1em;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

#footer a:hover {
  background-color: white;
  color: #343a40;
  text-decoration: none;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0em;
}

.overlay {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#main {
  background-image: url("/img/home/main.jpg");
  height: 100%;
}

#main #mainOverlay {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(28, 151, 114, 0.8)), color-stop(rgba(0, 152, 150, 0.8)), color-stop(rgba(0, 150, 182, 0.8)), color-stop(rgba(0, 144, 202, 0.8)), to(rgba(86, 134, 207, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(28, 151, 114, 0.8), rgba(0, 152, 150, 0.8), rgba(0, 150, 182, 0.8), rgba(0, 144, 202, 0.8), rgba(86, 134, 207, 0.8));
}

#blogposts {
  padding: 5em 0em;
}

#blogposts .display-3 {
  padding: 0.25em 0em;
}

#blogposts .card {
  background-color: white;
  border-radius: 0.5em;
  margin-bottom: 1em;
  -webkit-box-shadow: 0.25em 0.25em 1.5em -0.15em rgba(0, 0, 0, 0.6);
          box-shadow: 0.25em 0.25em 1.5em -0.15em rgba(0, 0, 0, 0.6);
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#blogposts .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#blogposts .card .card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#blogposts .card img {
  border-radius: 0.5em 0.5em 0em 0em;
}

#secondary {
  background-image: url("/img/home/other.jpg");
  height: 100%;
}

#secondary #secondaryOverlay {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5em 0em;
}

#secondary #secondaryOverlay .display-3 {
  padding: 0.25em 0em;
}

#secondary #carouselId .carousel-inner {
  border-radius: 1.25em;
  min-height: 30em;
  -webkit-box-shadow: 0.25em 0.25em 1.5em -0.15em rgba(0, 0, 0, 0.6);
          box-shadow: 0.25em 0.25em 1.5em -0.15em rgba(0, 0, 0, 0.6);
}

#secondary #carouselId img {
  min-height: 30em;
}

#secondary #carouselId .carousel-caption {
  top: 10%;
  text-align: left;
}

#secondary #carouselId .display-3 {
  font-size: 2.5em;
  letter-spacing: 0px;
}

#secondary #carouselId p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
}
/*# sourceMappingURL=home.css.map */